.header-aca {
  text-align: center;
  /* margin: 50px; */
}

.About h3 {
  color: #29ab87;
}

.About-img img {
  width: 15%;
  height: 100%;
}

.About-content p {
  width: 80%;
  margin: auto;
}

.About-empt {
  background-color: #29ab87;
  width: 30%;
  position: relative;
  padding-top: 30px;
  border-radius: 8px;
}

.Aca-img img {
  /* position: absolute; */
  width: 10%;
  float: right;
  border-radius: 10px;
}

.academy {
  width: 80%;
  margin: auto;
  margin-top: 60px;
}

.empty-div {
  width: 30%;
  border-radius: 30px;
  height: 35vh;
  background-color: #29ab87;
  position: absolute;
}

.academy-hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
  top: 50px;
}

.academy-hero-section .academy-left {
  margin: 30px;
}

.academy-hero-section .academy-left img {
  border-radius: 30px;
}
